
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAenaflightLabel">Create or edit a Aenaflight</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.aenaflight.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.aenaflight.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actArrDateTimeLt">Act Arr Date Time Lt</label>
            <input type="text" class="form-control" name="actArrDateTimeLt" id="field_actArrDateTimeLt"
                    ng-model="vm.aenaflight.actArrDateTimeLt"
                    ng-maxlength="64"/>
            <div ng-show="editForm.actArrDateTimeLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.actArrDateTimeLt.$error.maxlength">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aircraftNameScheduled">Aircraft Name Scheduled</label>
                <textarea class="form-control" name="aircraftNameScheduled" id="field_aircraftNameScheduled"
                    ng-model="vm.aenaflight.aircraftNameScheduled" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_arrAptNameEs">Arr Apt Name Es</label>
            <input type="text" class="form-control" name="arrAptNameEs" id="field_arrAptNameEs"
                    ng-model="vm.aenaflight.arrAptNameEs"
                    ng-maxlength="128"/>
            <div ng-show="editForm.arrAptNameEs.$invalid">
                <p class="help-block"
                    ng-show="editForm.arrAptNameEs.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_arrAptCodeIata">Arr Apt Code Iata</label>
            <input type="text" class="form-control" name="arrAptCodeIata" id="field_arrAptCodeIata"
                    ng-model="vm.aenaflight.arrAptCodeIata"
                    ng-maxlength="8"/>
            <div ng-show="editForm.arrAptCodeIata.$invalid">
                <p class="help-block"
                    ng-show="editForm.arrAptCodeIata.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_baggageInfo">Baggage Info</label>
            <input type="text" class="form-control" name="baggageInfo" id="field_baggageInfo"
                    ng-model="vm.aenaflight.baggageInfo"
                    ng-maxlength="128"/>
            <div ng-show="editForm.baggageInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.baggageInfo.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_carrierAirlineNameEn">Carrier Airline Name En</label>
            <input type="text" class="form-control" name="carrierAirlineNameEn" id="field_carrierAirlineNameEn"
                    ng-model="vm.aenaflight.carrierAirlineNameEn"
                    ng-maxlength="128"/>
            <div ng-show="editForm.carrierAirlineNameEn.$invalid">
                <p class="help-block"
                    ng-show="editForm.carrierAirlineNameEn.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_carrierIcaoCode">Carrier Icao Code</label>
            <input type="text" class="form-control" name="carrierIcaoCode" id="field_carrierIcaoCode"
                    ng-model="vm.aenaflight.carrierIcaoCode"
                    ng-maxlength="8"/>
            <div ng-show="editForm.carrierIcaoCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.carrierIcaoCode.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_carrierNumber">Carrier Number</label>
            <input type="text" class="form-control" name="carrierNumber" id="field_carrierNumber"
                    ng-model="vm.aenaflight.carrierNumber"
                    ng-maxlength="8"/>
            <div ng-show="editForm.carrierNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.carrierNumber.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_counter">Counter</label>
            <input type="text" class="form-control" name="counter" id="field_counter"
                    ng-model="vm.aenaflight.counter"
                    ng-maxlength="64"/>
            <div ng-show="editForm.counter.$invalid">
                <p class="help-block"
                    ng-show="editForm.counter.$error.maxlength">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_depAptNameEs">Dep Apt Name Es</label>
            <input type="text" class="form-control" name="depAptNameEs" id="field_depAptNameEs"
                    ng-model="vm.aenaflight.depAptNameEs"
                    ng-maxlength="128"/>
            <div ng-show="editForm.depAptNameEs.$invalid">
                <p class="help-block"
                    ng-show="editForm.depAptNameEs.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_depAptCodeIata">Dep Apt Code Iata</label>
            <input type="text" class="form-control" name="depAptCodeIata" id="field_depAptCodeIata"
                    ng-model="vm.aenaflight.depAptCodeIata"
                    ng-maxlength="8"/>
            <div ng-show="editForm.depAptCodeIata.$invalid">
                <p class="help-block"
                    ng-show="editForm.depAptCodeIata.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estArrDateTimeLt">Est Arr Date Time Lt</label>
            <input type="text" class="form-control" name="estArrDateTimeLt" id="field_estArrDateTimeLt"
                    ng-model="vm.aenaflight.estArrDateTimeLt"
                    ng-maxlength="64"/>
            <div ng-show="editForm.estArrDateTimeLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.estArrDateTimeLt.$error.maxlength">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estDepDateTimeLt">Est Dep Date Time Lt</label>
            <input type="text" class="form-control" name="estDepDateTimeLt" id="field_estDepDateTimeLt"
                    ng-model="vm.aenaflight.estDepDateTimeLt"
                    ng-maxlength="64"/>
            <div ng-show="editForm.estDepDateTimeLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.estDepDateTimeLt.$error.maxlength">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flightAirlineNameEn">Flight Airline Name En</label>
            <input type="text" class="form-control" name="flightAirlineNameEn" id="field_flightAirlineNameEn"
                    ng-model="vm.aenaflight.flightAirlineNameEn"
                    ng-maxlength="128"/>
            <div ng-show="editForm.flightAirlineNameEn.$invalid">
                <p class="help-block"
                    ng-show="editForm.flightAirlineNameEn.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flightAirlineName">Flight Airline Name</label>
            <input type="text" class="form-control" name="flightAirlineName" id="field_flightAirlineName"
                    ng-model="vm.aenaflight.flightAirlineName"
                    ng-maxlength="128"/>
            <div ng-show="editForm.flightAirlineName.$invalid">
                <p class="help-block"
                    ng-show="editForm.flightAirlineName.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flightIcaoCode">Flight Icao Code</label>
            <input type="text" class="form-control" name="flightIcaoCode" id="field_flightIcaoCode"
                    ng-model="vm.aenaflight.flightIcaoCode"
                    ng-maxlength="8"/>
            <div ng-show="editForm.flightIcaoCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.flightIcaoCode.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flightNumber">Flight Number</label>
            <input type="text" class="form-control" name="flightNumber" id="field_flightNumber"
                    ng-model="vm.aenaflight.flightNumber"
                    ng-maxlength="8"/>
            <div ng-show="editForm.flightNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.flightNumber.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fltLegSeqNo">Flt Leg Seq No</label>
            <input type="text" class="form-control" name="fltLegSeqNo" id="field_fltLegSeqNo"
                    ng-model="vm.aenaflight.fltLegSeqNo"
                    ng-maxlength="8"/>
            <div ng-show="editForm.fltLegSeqNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.fltLegSeqNo.$error.maxlength">
                    This field cannot be longer than 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gateInfo">Gate Info</label>
            <input type="text" class="form-control" name="gateInfo" id="field_gateInfo"
                    ng-model="vm.aenaflight.gateInfo"
                    ng-maxlength="128"/>
            <div ng-show="editForm.gateInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.gateInfo.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_loungeInfo">Lounge Info</label>
            <input type="text" class="form-control" name="loungeInfo" id="field_loungeInfo"
                    ng-model="vm.aenaflight.loungeInfo"
                    ng-maxlength="128"/>
            <div ng-show="editForm.loungeInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.loungeInfo.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schdArrOnlyDateLt">Schd Arr Only Date Lt</label>
            <input type="text" class="form-control" name="schdArrOnlyDateLt" id="field_schdArrOnlyDateLt"
                    ng-model="vm.aenaflight.schdArrOnlyDateLt"
                    ng-maxlength="32"/>
            <div ng-show="editForm.schdArrOnlyDateLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.schdArrOnlyDateLt.$error.maxlength">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schdArrOnlyTimeLt">Schd Arr Only Time Lt</label>
            <input type="text" class="form-control" name="schdArrOnlyTimeLt" id="field_schdArrOnlyTimeLt"
                    ng-model="vm.aenaflight.schdArrOnlyTimeLt"
                    ng-maxlength="32"/>
            <div ng-show="editForm.schdArrOnlyTimeLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.schdArrOnlyTimeLt.$error.maxlength">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sourceData">Source Data</label>
                <textarea class="form-control" name="sourceData" id="field_sourceData"
                    ng-model="vm.aenaflight.sourceData" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_statusInfo">Status Info</label>
            <input type="text" class="form-control" name="statusInfo" id="field_statusInfo"
                    ng-model="vm.aenaflight.statusInfo"
                    ng-maxlength="128"/>
            <div ng-show="editForm.statusInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.statusInfo.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_terminalInfo">Terminal Info</label>
            <input type="text" class="form-control" name="terminalInfo" id="field_terminalInfo"
                    ng-model="vm.aenaflight.terminalInfo"
                    ng-maxlength="128"/>
            <div ng-show="editForm.terminalInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.terminalInfo.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_arrTerminalInfo">Arr Terminal Info</label>
            <input type="text" class="form-control" name="arrTerminalInfo" id="field_arrTerminalInfo"
                    ng-model="vm.aenaflight.arrTerminalInfo"
                    ng-maxlength="128"/>
            <div ng-show="editForm.arrTerminalInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.arrTerminalInfo.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">Created At</label>
            <input type="number" class="form-control" name="createdAt" id="field_createdAt"
                    ng-model="vm.aenaflight.createdAt"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actDepDateTimeLt">Act Dep Date Time Lt</label>
            <input type="text" class="form-control" name="actDepDateTimeLt" id="field_actDepDateTimeLt"
                    ng-model="vm.aenaflight.actDepDateTimeLt"
                    ng-maxlength="64"/>
            <div ng-show="editForm.actDepDateTimeLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.actDepDateTimeLt.$error.maxlength">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schdDepOnlyDateLt">Schd Dep Only Date Lt</label>
            <input type="text" class="form-control" name="schdDepOnlyDateLt" id="field_schdDepOnlyDateLt"
                    ng-model="vm.aenaflight.schdDepOnlyDateLt"
                    ng-maxlength="32"/>
            <div ng-show="editForm.schdDepOnlyDateLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.schdDepOnlyDateLt.$error.maxlength">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schdDepOnlyTimeLt">Schd Dep Only Time Lt</label>
            <input type="text" class="form-control" name="schdDepOnlyTimeLt" id="field_schdDepOnlyTimeLt"
                    ng-model="vm.aenaflight.schdDepOnlyTimeLt"
                    ng-maxlength="32"/>
            <div ng-show="editForm.schdDepOnlyTimeLt.$invalid">
                <p class="help-block"
                    ng-show="editForm.schdDepOnlyTimeLt.$error.maxlength">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
