<div>
    <h2>Aenaflights</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="aenaflight.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new Aenaflight
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actArrDateTimeLt"><span>Act Arr Date Time Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="aircraftNameScheduled"><span>Aircraft Name Scheduled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="arrAptNameEs"><span>Arr Apt Name Es</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="arrAptCodeIata"><span>Arr Apt Code Iata</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="baggageInfo"><span>Baggage Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carrierAirlineNameEn"><span>Carrier Airline Name En</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carrierIcaoCode"><span>Carrier Icao Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carrierNumber"><span>Carrier Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="counter"><span>Counter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="depAptNameEs"><span>Dep Apt Name Es</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="depAptCodeIata"><span>Dep Apt Code Iata</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estArrDateTimeLt"><span>Est Arr Date Time Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estDepDateTimeLt"><span>Est Dep Date Time Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flightAirlineNameEn"><span>Flight Airline Name En</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flightAirlineName"><span>Flight Airline Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flightIcaoCode"><span>Flight Icao Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flightNumber"><span>Flight Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fltLegSeqNo"><span>Flt Leg Seq No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gateInfo"><span>Gate Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loungeInfo"><span>Lounge Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="schdArrOnlyDateLt"><span>Schd Arr Only Date Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="schdArrOnlyTimeLt"><span>Schd Arr Only Time Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sourceData"><span>Source Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statusInfo"><span>Status Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="terminalInfo"><span>Terminal Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="arrTerminalInfo"><span>Arr Terminal Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span>Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actDepDateTimeLt"><span>Act Dep Date Time Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="schdDepOnlyDateLt"><span>Schd Dep Only Date Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="schdDepOnlyTimeLt"><span>Schd Dep Only Time Lt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aenaflight in vm.aenaflights track by aenaflight.id">
                    <td><a ui-sref="aenaflight-detail({id:aenaflight.id})">{{aenaflight.id}}</a></td>
                    <td>{{aenaflight.actArrDateTimeLt}}</td>
                    <td>{{aenaflight.aircraftNameScheduled}}</td>
                    <td>{{aenaflight.arrAptNameEs}}</td>
                    <td>{{aenaflight.arrAptCodeIata}}</td>
                    <td>{{aenaflight.baggageInfo}}</td>
                    <td>{{aenaflight.carrierAirlineNameEn}}</td>
                    <td>{{aenaflight.carrierIcaoCode}}</td>
                    <td>{{aenaflight.carrierNumber}}</td>
                    <td>{{aenaflight.counter}}</td>
                    <td>{{aenaflight.depAptNameEs}}</td>
                    <td>{{aenaflight.depAptCodeIata}}</td>
                    <td>{{aenaflight.estArrDateTimeLt}}</td>
                    <td>{{aenaflight.estDepDateTimeLt}}</td>
                    <td>{{aenaflight.flightAirlineNameEn}}</td>
                    <td>{{aenaflight.flightAirlineName}}</td>
                    <td>{{aenaflight.flightIcaoCode}}</td>
                    <td>{{aenaflight.flightNumber}}</td>
                    <td>{{aenaflight.fltLegSeqNo}}</td>
                    <td>{{aenaflight.gateInfo}}</td>
                    <td>{{aenaflight.loungeInfo}}</td>
                    <td>{{aenaflight.schdArrOnlyDateLt}}</td>
                    <td>{{aenaflight.schdArrOnlyTimeLt}}</td>
                    <td>{{aenaflight.sourceData}}</td>
                    <td>{{aenaflight.statusInfo}}</td>
                    <td>{{aenaflight.terminalInfo}}</td>
                    <td>{{aenaflight.arrTerminalInfo}}</td>
                    <td>{{aenaflight.createdAt}}</td>
                    <td>{{aenaflight.actDepDateTimeLt}}</td>
                    <td>{{aenaflight.schdDepOnlyDateLt}}</td>
                    <td>{{aenaflight.schdDepOnlyTimeLt}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="aenaflight-detail({id:aenaflight.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aenaflight.edit({id:aenaflight.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aenaflight.delete({id:aenaflight.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
