
<div>
    <h2><span>Aenaflight</span> {{vm.aenaflight.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Act Arr Date Time Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.actArrDateTimeLt}}</span>
        </dd>
        <dt><span>Aircraft Name Scheduled</span></dt>
        <dd>
            <span>{{vm.aenaflight.aircraftNameScheduled}}</span>
        </dd>
        <dt><span>Arr Apt Name Es</span></dt>
        <dd>
            <span>{{vm.aenaflight.arrAptNameEs}}</span>
        </dd>
        <dt><span>Arr Apt Code Iata</span></dt>
        <dd>
            <span>{{vm.aenaflight.arrAptCodeIata}}</span>
        </dd>
        <dt><span>Baggage Info</span></dt>
        <dd>
            <span>{{vm.aenaflight.baggageInfo}}</span>
        </dd>
        <dt><span>Carrier Airline Name En</span></dt>
        <dd>
            <span>{{vm.aenaflight.carrierAirlineNameEn}}</span>
        </dd>
        <dt><span>Carrier Icao Code</span></dt>
        <dd>
            <span>{{vm.aenaflight.carrierIcaoCode}}</span>
        </dd>
        <dt><span>Carrier Number</span></dt>
        <dd>
            <span>{{vm.aenaflight.carrierNumber}}</span>
        </dd>
        <dt><span>Counter</span></dt>
        <dd>
            <span>{{vm.aenaflight.counter}}</span>
        </dd>
        <dt><span>Dep Apt Name Es</span></dt>
        <dd>
            <span>{{vm.aenaflight.depAptNameEs}}</span>
        </dd>
        <dt><span>Dep Apt Code Iata</span></dt>
        <dd>
            <span>{{vm.aenaflight.depAptCodeIata}}</span>
        </dd>
        <dt><span>Est Arr Date Time Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.estArrDateTimeLt}}</span>
        </dd>
        <dt><span>Est Dep Date Time Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.estDepDateTimeLt}}</span>
        </dd>
        <dt><span>Flight Airline Name En</span></dt>
        <dd>
            <span>{{vm.aenaflight.flightAirlineNameEn}}</span>
        </dd>
        <dt><span>Flight Airline Name</span></dt>
        <dd>
            <span>{{vm.aenaflight.flightAirlineName}}</span>
        </dd>
        <dt><span>Flight Icao Code</span></dt>
        <dd>
            <span>{{vm.aenaflight.flightIcaoCode}}</span>
        </dd>
        <dt><span>Flight Number</span></dt>
        <dd>
            <span>{{vm.aenaflight.flightNumber}}</span>
        </dd>
        <dt><span>Flt Leg Seq No</span></dt>
        <dd>
            <span>{{vm.aenaflight.fltLegSeqNo}}</span>
        </dd>
        <dt><span>Gate Info</span></dt>
        <dd>
            <span>{{vm.aenaflight.gateInfo}}</span>
        </dd>
        <dt><span>Lounge Info</span></dt>
        <dd>
            <span>{{vm.aenaflight.loungeInfo}}</span>
        </dd>
        <dt><span>Schd Arr Only Date Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.schdArrOnlyDateLt}}</span>
        </dd>
        <dt><span>Schd Arr Only Time Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.schdArrOnlyTimeLt}}</span>
        </dd>
        <dt><span>Source Data</span></dt>
        <dd>
            <span>{{vm.aenaflight.sourceData}}</span>
        </dd>
        <dt><span>Status Info</span></dt>
        <dd>
            <span>{{vm.aenaflight.statusInfo}}</span>
        </dd>
        <dt><span>Terminal Info</span></dt>
        <dd>
            <span>{{vm.aenaflight.terminalInfo}}</span>
        </dd>
        <dt><span>Arr Terminal Info</span></dt>
        <dd>
            <span>{{vm.aenaflight.arrTerminalInfo}}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{vm.aenaflight.createdAt}}</span>
        </dd>
        <dt><span>Act Dep Date Time Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.actDepDateTimeLt}}</span>
        </dd>
        <dt><span>Schd Dep Only Date Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.schdDepOnlyDateLt}}</span>
        </dd>
        <dt><span>Schd Dep Only Time Lt</span></dt>
        <dd>
            <span>{{vm.aenaflight.schdDepOnlyTimeLt}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="aenaflight-detail.edit({id:vm.aenaflight.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
