<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>

            <div>
                <p>Click 'Start processing' to start processing database records.</p>
                <p>Click 'Stop processing' to pause processing. NOTE, records which are currently under processing will be processed.</p>
                <p>Click 'Reset state' to move database to initial state. All processed data will be deleted.</p>
                <br/>

                <button class="btn btn-primary" ng-click="vm.startProgress()">Start processing</button>
                <button class="btn btn-primary" ng-click="vm.stopProgress()">Stop processing</button>
                <button class="btn btn-primary" ng-click="vm.resetData()">Reset state</button>

                <p></p>
                <br/>
                <p>COMPLETED: {{vm.counter.percentage}}%</p>
                <p ng-if="vm.counter.state != 0 && vm.counter.status == 0">STATE: PAUSE</p>
                <p ng-if="vm.counter.state == 0 && vm.counter.status == 0">
                    <span ng-if="vm.counter.max > 0">STATE: Processing...</span>
                    <span ng-if="vm.counter.max == 0">STATE: NOT STARTED</span>
                </p>
                <p ng-if="vm.counter.status != 0">STATE: DONE</p>

            </div>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>
            </div>
        </div>
    </div>
</div>
